<viewentries timestamp="20170213T195128,61Z" toplevelentries="38481">
<viewentry position="1" unid="85257EC200569F5985257F77006E019A" noteid="A8FE6" siblings="38481">
<entrydata columnnumber="0" name="EventName">
<text>'72 Summit Series Tour</text>
</entrydata>
<entrydata columnnumber="1" name="Area">
<text>Downtown</text>
</entrydata>
<entrydata columnnumber="2" name="CategoryList">
<textlist>
<text>History</text>
<text>Sports</text>
</textlist>
</entrydata>
<entrydata columnnumber="3" name="PresentedByOrgName">
<text/>
</entrydata>
<entrydata columnnumber="4" name="Image">
<text>
http://wx.toronto.ca/inter/edc/festeventsarchive.nsf/all/93C24AC74F5BD45785257F77006D3E8F/$File/TeamCanada_22x18_LR.jpg
</text>
</entrydata>
<entrydata columnnumber="5" name="DateBeginShow">
<text>Sep 10, 2016</text>
</entrydata>
<entrydata columnnumber="6" name="TimeBegin">
<text>8:00 PM</text>
</entrydata>
<entrydata columnnumber="7" name="DateEndShow">
<text>Sep 10, 2016</text>
</entrydata>
<entrydata columnnumber="8" name="TimeEnd">
<text>10:00 PM</text>
</entrydata>
<entrydata columnnumber="9" name="Admission">
<text>$80 - $89</text>
</entrydata>
<entrydata columnnumber="10" name="LongDesc">
<textlist>
<text>
On September 2, 1972, the first game of hockey’s historic Summit Series was played in Montreal. On September 2, 2016, eight members from Team Canada 1972 return to where it all began, take to the stage and launch the ’72 Summit Series Tour — a cross-country road-trip with additional stops in Toronto, Winnipeg and Vancouver.
</text>
<text>
The tour revisits the cities that hosted the Canadian half of the Summit Series; audiences will experience the most intimate, first-hand telling of Team Canada 1972’s dramatic story of teamwork and victory.
</text>
<text>
A giant screen will carry Summit Series images that are eternally famous, while the team shares memories that, sometimes, are only told once.
</text>
</textlist>
</entrydata>
</viewentry>
</viewentries>